.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.DS_Store
.env
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
chromadb/
dbo.ddl
.env_production
